OPENAI_API_KEY=
OPENAI_WEBHOOK_SECRET=
AWS_REGION=ap-northeast-1
CALL_LOGS_TABLE_NAME=ueki-chatbot
PROMPTS_TABLE_NAME=ueki-prompts
FAQ_TABLE_NAME=ueki-faq
SYSTEM_PROMPT_PATH=system_prompt.txt
FAQ_KB_PATH=faq.txt
DEFAULT_PHONE_NUMBER=08012345678
AWS_ACCESS_KEY_ID=Please replace with your own AWS access key id
AWS_SECRET_ACCESS_KEY=Please replace with your own AWS secret access key
# AWS_SESSION_TOKEN=yyyyyyyy（SSO/一時認証のときのみ）