OPENAI_API_KEY=
OPENAI_WEBHOOK_SECRET=
AWS_REGION=ap-northeast-1
CALL_LOGS_TABLE_NAME=ueki-chatbot
PROMPTS_TABLE_NAME=ueki-prompts
FAQ_TABLE_NAME=ueki-faq
SYSTEM_PROMPT_PATH=system_prompt.txt
FAQ_KB_PATH=faq.txt
DEFAULT_PHONE_NUMBER=08012345678